main{
    display: flex;
    flex-wrap: wrap;
    height:400px;
}

.column1{
    width:20%;
    background-color: aqua;
}

.column2{
    width: 60%;
    background-color: blueviolet;
}

.column3{
    width:20%;
    background-color: cadetblue;
}

header{
    background-color: rgb(255, 140, 140);
}

footer{
    background-color: rgb(112, 164, 247);
    height: 50px;
    text-align: center;
}

.image{
    width: 100%;
}